<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<h1>
    Welcome to the price is right!
</h1>

<!-- Iterate over the array and return the calorie count of the recipes -->

<%= console.log(recipeArray)%>

<%-
    let renderInfo = recipeArray.data.map(calories => {
    // console.log(topGame); 
    // console.log(topGame.game.box.medium) 
    return`
        <div>
            ${calories.calories}
        </div>
    `
    })
    return renderInfo.join(''); 
%>