<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<h1>
    Welcome to the price is right!
</h1>

<!-- need to render the info into cards that are placed into this container on the page -->
<!-- <div id="container">
    <div class="row">
        <div class="col-sm-6 d-flex">
            <%# recipeArray.data.forEach(calories => { %> 
                <div class="gameCard">
                    <div class="card">
                        <div class="card-body">
                            <p>This is where the product image goes</p>
                            <h5>
                                <%#= calories.calories %>
                            </h5>
                            <p>Product Description</p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae, itaque laudantium. Ducimus cum perspiciatis modi quaerat quas error natus omnis asperiores! Illo magnam corrupti ab, illum cum autem doloribus aspernatur?</p>
                            <div class="row">
                                <div class="col-sm">
                                  Price Choice
                                </div>
                                <div class="col-sm">
                                  Price Choice
                                </div>
                                <div class="col-sm">
                                  Price choice
                                </div>
                            </div>
                        </div>
                    </div>
                <%# }) %>
            </div>
        </div>
    </div> -->

<!-- experimental function with random product -->
<div id="container">
    <div class="row">
        <div class="col-sm-6 d-flex">
                <div class="gameCard">
                    <div class="card">
                        <div class="card-body">
                            <img src="<%= product.details.tradeIdentifiers[0].images[0] %>" alt="">  
                            <h5>
                                <%= product.pricing.price %>
                            </h5>
                            <p>
                                <%= product.details.name %>
                            </p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae, itaque laudantium. Ducimus cum perspiciatis modi quaerat quas error natus omnis asperiores! Illo magnam corrupti ab, illum cum autem doloribus aspernatur?</p>
                            <div class="row">
                                <div class="col-sm">
                                    <%= prices[0] %>
                                </div>
                                <div class="col-sm">
                                    Price Choice
                                </div>
                                <div class="col-sm">
                                    Price choice
                                </div>
                                <div class="col-sm">
                                    Price choice
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>



<!-- Iterate over the array and return the calorie count of the recipes -->
<!-- testing that the parameters are passed in from app.js -->

<!-- need to make this a function that activates on button click, thereby loading all the objects as cards -->


<!-- 
document.getElementById('gameCard').innerHTML = renderCards(recipeArray);
%> -->

<!-- 
// working code
// need percent open thingy here
//     recipeArray.data.map(calories => {
//     // console.log(topGame); 
//     // console.log(topGame.game.box.medium) 
//     return`
//         <div class="card">
//             <div class="card-body">
//                 <h5>
//                     ${calories.calories}
//                 </h5>
//             </div>
//         </div>
//     `
//     })
    
// %> -->