<h1 class='text-center'> Hi! <%= name %>, Welcome to the Price-Is-Right-Guessing-Game!!</h1>
            <form action="/logout?_method=DELETE" method="POST">
                <br> <button type="submit">Log Out</button> </br>
            </form>